[Unit]
Description=HostingSignal Recovery Manager Timer
Documentation=https://docs.hostingsignal.com

[Timer]
OnBootSec=30s
OnUnitActiveSec=30s
Unit=hostingsignal-recovery.service
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target
